
        .index_div1, .index_div2{
            border:1px solid red;
            width:70%;
            margin:0 auto;
            position:relative;
        }

        .index_div1 div{
            float:left;
        }



        .index_div1_div1{
            border:2px solid black;
            width:45%;
            height:225px;
            margin:20px;
        }
        .index_div1_div2{
            border:2px solid black;
            width:45%;
            height: 90px;
            margin:20px;
        }
        .index_div1_button1{
            border:2px solid black;
            width:45%;
            height: 90px;
            margin-left: 20px;
        }
        .index_div2{
            clear:both;
        }




        .index_div2_div1,.index_div2_div2,.index_div2_button1,.index_div2_button2,.index_div1_div3{
            border:2px solid black;
            width:45%;
            float:left;
            margin:20px;
            height:90px;
        }
        .index_div2_button1,.index_div2_button2,.index_div1_a{
            font-size: 32px;
        }
        .index_div1_a{
            color:black;
            display: inline-block;
            width:99.8%;
            height:99.8%;
            background-color: rgb(240, 240, 240);
            text-align: center;
            line-height: 90px;
            text-decoration: none;
        }

        /* 시간을 나타내는 텍스트 글자 변경 */
        #date, #sgw, #slw{
            font-size: 21px;
            text-align: center;
            line-height: 90px;
        }

        .table{
            border:1px solid red;
            margin:0 auto;
            width:80%;
            height:80%;
        }
        .table th{
            text-align: left;
            border:1px solid red;
            width:80px;
            line-height:80%;
        }