.company{
		display: flex;
		border: 1px solid black;
		margin: 10px;
	}

	/* 회사 목록 시작 */
	.company_list{
		margin: 10px;
		width: 50%;
	}
	.company_list .company_board{
		width: 100%;
		margin: auto;
		text-align:center;
		border: 1px solid black;
		height: 300px;
	}
	.company_board div{
		border: 1px solid black;
		margin: 2px;
	}
	
	.company_list #company_submit{
		background-color: rgb(255, 239, 170);
		border: 1px black solid;
		border-radius: 3px ;
		cursor: pointer;
		margin-bottom: 4px;
		width: 160px;
		height: 35px;
		text-align: center;
		line-height: 35px;
	}
	
	.company_list #company_submit:active{
		background-color: rgb(163, 152, 102);
	}
	
	/* 회사 목록 끝 */

	/* 부서 목록 시작 */

	.company_team{
		margin: 10px;
		width: 50%;
	}

	.company_team .team_board{
		width: 100%;
		text-align:center;
		margin-bottom: 5px;
		border: 1px solid black;
		height: 300px;
		overflow-y: scroll;
	}

	.team_board input{
		border:none;
		display: block;
		width: 98%;
		border-bottom: 0.5px rgb(151, 151, 151) solid;
		margin-bottom: 1px;
	}
	

	.company_team #team_submit{
		background-color: black;
		color: white;
		border-radius: 10px ;
		cursor: pointer;
		margin-bottom: 7px;
		height: 20px;
		line-height: 17px;
		width: 20px;
		text-align: center;
		margin-top: 14px;
	}
	.company_team #team_submit:active{
		background-color: rgb(98, 98, 98);
	}

	.company_team #cancel,#save{
		float: right;
		background-color: rgb(255, 239, 170);
		border: 1px black solid;
		border-radius: 3px ;
		cursor: pointer;
		height: 35px;
		line-height: 35px;
		width: 50px;
		text-align: center;
		margin-left: 5px;
	}
	
	.company_team #cancel:active,#save:active{
		background-color: rgb(163, 152, 102);
	}

	/* 부서 목록 끝 */

	/* 모달 시작 */
	#modal {
  		position:absolute;
 		width:100%;
  		height:100%;
  		z-index:1;
		display: none;
	}
	#modal .modal_content {
  		width:70%;
		height: 70%;
  		margin:100px auto;
  		padding:20px 10px;
  		background:#fff;
  		border:2px solid #666;
	}
	.modal_content input{
		width: 90%;
		margin: auto;
		position: relative;
		display: block;
		margin-bottom: 10px;
	}

	#modal .modal_layer {
  		position:fixed;
  		top:0;
  		left:0;
  		width:100%;
  		height:100%;	
  		background:rgba(0, 0, 0, 0.5);
  		z-index:-1;
	}
	/* 모달 끝 */